input, label, select {display: block}
i {clear:both}
.nowrap {
    white-space:nowrap;
}
.content {
    margin-top:70px;
    padding-left:30px !important;
    padding-right:30px !important
}
.openText {margin-bottom:10px}
#dropdownText {margin:15px 0}
.tableEdit tr, .tableAdd tr {
    margin:10px 0;
    display: grid
}
.btn-primary {
    background-color:#0096AE !important;
    border:1px solid #0096AE !important;
    margin-bottom:15px;
}

#thirdYesNoCollapse {
    margin-left:20px;
    padding:10px;
    border:1px solid #d8d6d6;    
}