/* lg */

@media (min-width:1400px) and (max-width:1920px) {
	.container {
		width:1110px;
	}
}

/* lg */

@media (min-width:1200px) and (max-width:1401px) {
	.container {
		width:1000px;
		padding-left:80px;
	}
}

/* md */

@media (min-width: 992px) and (max-width: 1199px) {

	.container{ padding-left:170px}
	#rowrank .container {padding-left:50px}
}

/* sm */

@media (min-width: 768px) and (max-width: 991px) {

	.container{padding-left:170px}
	#rowrank .container {padding-left:0; padding-right:35px}

	footer[role="footer"]{ bottom:0; width:100%; left:0; right:0}

}

/* xs */
@media (min-width: 767px) {
	.numberSlider .col-sm-8 {padding-left:0 !important;}
	.container.mainContainer {padding:0 0 80px 170px}
}
@media (max-width: 767px) {
	/*Column Rank Image*/
	#rowrank .brandBox {margin-top:15px !important}
	#rowrank .boxSortCRI .label_select {padding:6px 0 0 15px}
	/*number slider*/
	.sliderInput input.singleInput {margin-top:20px}
	.sliderInput {margin-top:0}
	.sliderInput .multipleInput,.sliderInput .multipleInput1, .sliderInput .multipleInput2, .sliderInput .multipleInput3 {margin-top:20px}
	/*Grid Matrix*/
	.gridmatrix .row {padding:15px}
	/*Radio Slider*/
	.radioslider {padding:15px}

	.container{ padding-left:15px}

	aside[role="siderbar-nav"]{ width:100px}

	aside[role="siderbar-nav"] > nav{ padding-top:50%}

	header[role="main-header"]{ padding-top:7%}

	header[role="main-header"] h1 > a{ float:none; margin:0 auto}

	header[role="main-header"] ul[role="socil-icons"]{ float:none; text-align:center; margin-top:20px}

	main[role="main"]{ padding-top:30px}

	article.home-content header[role="home-title"] h2{ font-size:30px; line-height:32px;}

	article.home-content p br{ display:none}

	#countdown{ padding-top:45px; text-align:center; display:block}

	#countdown span{ margin:0 1.5%;text-align:center;}

	article.home-content header[role="home-title"],.other-page header[role="page-title"]{ padding-bottom:30px; text-align:center}

	.other-page article p,article.home-content p{ width:100%; text-align:center}

	.subscribe-pan form{ width:100%}

	.subscribe-pan form input[type="email"]{ width:75%}

	footer[role="footer"]{ position: fixed; bottom:0; width:100%; left:0; right:0}

	footer[role="footer"] p{ text-align:center; line-height:35px; float:none}

	footer[role="footer"] p + p{ float:none; text-align:center}

	



}

