/*
Nfield Knutsel Portfolio css
*/
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
 *overflow:visible;
}
body, img, {
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}
body, div, h1, h2, h3 {
	font-family: "KantarBrownRegular"
}
h2, h3, h5 {color:#fff !important}
h4 {color:#00B6ED !important}
h5 {font-size:15px !important}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img, main {
	display: block
}
audio, canvas, video {
	display: inline-block;
	*display:inline;
	*zoom:1
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
.clear {
	clear: both;
	line-height: 0;
	height: 0;
}
a {
	text-decoration: none;
	outline: none;
	color: #010101;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
a:focus, img:focus, button:focus, .btn:focus {
	outline: none;
}
::-moz-selection {
	background-color:#EF3340;
	color:#fff;
	text-shadow:none;
}
::selection {
	background-color: #EF3340;
	color: #fff;
	text-shadow: none;
}
@font-face {
    font-family: KantarBrown;
	src: url("../fonts/KantarBrownWeb-Light.woff") format("woff");
	src: url("../fonts/KantarBrownWeb-Light.eot"); /* IE9 Compat Modes */
}
@font-face {
    font-family: KantarBrownRegular;
	src: url("../fonts/KantarBrownTT-Regular.woff") format("woff");
	src: url("../fonts/KantarBrownTT-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/KantarBrownTT-Regular.ttf")  format("truetype"); /* Safari, Android, iOS */
}
.nopadding {
	padding:0 !important;
}
.left {float:left}
@media (min-width:767px) {
	.overflowhidden {overflow:hidden !important}
}
header[role="page-title"] h2 {
	color:#fff;
}
.ui-widget-header {background:none !important}
/*Sidebar*/
#logo img {margin:15px 0 0 20px}
/*== Image modal ==*/
#imagemodal, .modal-open {padding-right:0 !important;}
.modalZoom {float:right; padding:2px 15px 0;}
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}
#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index:1032;
}
/*== Responsive switch ==*/
.size-toggle {margin-bottom:25px}
.size-toggle span:hover {cursor: pointer;}
.typedSizetoggle {
	display:block;
	margin:0 !important;
	margin-bottom:20px !important;
	height:0;
	clear:both !important;
	float:none !important;
}
/*== Body ==*/
body {
	background-image: url(../images/overlay-bg.png), url(../images/main-bg.jpg);
	background-size: cover;
	background-repeat: repeat, no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.container {
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
}
/*== Sidebar ==*/

aside[role="siderbar-nav"] {
	position: fixed;
	left: 0;
	height: 100%;
	width: 120px;
	top: 0;
	background-color: #111111
}
aside[role="siderbar-nav"] > nav {
	padding-top: 25px
}
aside[role="siderbar-nav"] > nav > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	border-bottom: none
}
aside[role="siderbar-nav"] > nav > ul > li {
	display: block;
	float: none;
	margin-bottom: 25px
}
aside[role="siderbar-nav"] > nav > ul > li > a {
	font-size: 13px;
	color: #FFF;
	border-radius: 0;
	border: none;
	padding: 0;
}
aside[role="siderbar-nav"] > nav > ul > li.active a, aside[role="siderbar-nav"] > nav > ul > li a:hover {
	background-color: inherit;
	border: none;
	color: #EF3340
}
aside[role="siderbar-nav"] > nav .nav-tabs>li.active>a, aside[role="siderbar-nav"] > nav .nav-tabs>li.active>a:focus, aside[role="siderbar-nav"] > nav .nav-tabs>li.active>a:hover {
	background-color: inherit;
	border: none;
	color: #EF3340
}
/*== Header ==*/
header[role="main-header"] {
	overflow: hidden;
	padding-top: 108px
}
header[role="main-header"] h1 {
	margin: 0;
	padding: 0;
}
header[role="main-header"] h1 > a {
	float: left;
	display: block;
	max-width: 165px
}
header[role="main-header"] h1 > a > img {
	padding-left:5px;
}
/*== Main ==*/
main[role="main"] {
	padding-top: 53px
}
/*== Home ==*/
article.home-content {
	color: #FFF
}
article.home-content header[role="home-title"] {
	padding-bottom: 44px
}
article.home-content header[role="home-title"] h2 {
	margin: 0;
	padding: 0;
	font-size: 60px;
	font-weight: 700;
}
#typed-strings span:nth-child(3) {color:yellow !important}
/*article.home-content header[role="home-title"] h2 > span {
	color: #EF3340;
}*/
article.home-content p {
	font-size: 17px;
	line-height: 27px;
}
.homeContent {
	clear:both;
}
@media (max-width:767px) {
	.typedLogo img {
		margin-left:auto;
		margin-right:auto;
	}
	.typed {
		font-size:50px;
		margin-top:15px;
		display: block;
		height:0;
	}
	.homeContent {
		margin-top:30px;
	}
}
@media (min-width:767px) {
	.typedLogo {
		margin-bottom:40px;
		float:left;
	}
	.typed {
		margin:9px 0 0 20px;
		float:left;
	}
}
/*== Single question section 1 ==*/
.list-group .selected-check {
	border:2px solid #EB6728 !important;
}
.list-group-item {
	margin:10px 0;
	padding:15px !important;
    border: 2px solid #ccc !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
	font-size:15px;
}
.list-group-item:hover {
	border: 2px solid #EB6728 !important
}
.about-pan {
	padding-bottom: 151px
}
.other-page header[role="page-title"] {
	padding-bottom: 20px
}
.other-page header[role="page-title"] h2 {
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 39px;
	line-height: 40px;
	font-weight: 700
}
.other-page article p {
	font-size: 16px;
	line-height: 27px;
	color: #FFF;
	padding: 0;
	margin: 0;
	width: 598px;
	padding-bottom: 27px
}
.columnAmount, .columnAmount a {color:#ffffff}
.columnAmount a:hover {color:#0096AE}
/*== Column Rank section 2 ==*/
.boxSortCR .list-group-item.highlight {
	border: 2px solid #EB6728 !important
}
.numberOutputCR {
	padding-right:5px;
	color:#3eb1cc;
}
/*== Column Rank with image section 3 ==*/
.container.columnRank {
	padding-left:0;
}
#rowrank .boxSortCRI .label_select {
    padding:6px 0 0 50px;
	display:block;
	height:35px;
	line-height:25px;
	cursor:pointer;
	margin-bottom:2px;
	font-size:13px;
}
#rowrank .boxSortCRI .label_select:after {
    clear:both;
	content:" ";
	display:block;
}
#rowrank .numberOutputCRI {
	float:left;
    color:#FFFFFF;
    background-color:#00B6ED;
	padding: 0 7px 0 7px;
	min-width:21px;
    height:22px;
	text-align:center;
	position:relative;
    margin-left:-30px;
    top:1px;
}
#rowrank .brandBox {
	border:1px solid #E0E0E0;
	background-color:#FFFFFF;
    margin:-1px 0 0 -1px;
	padding:0;
}
#rowrank .brandImg {
    border-bottom:1px solid #E0E0E0;
}
#rowrank .brandBox img {
    margin-left:auto;
    margin-right:auto;
    display: block;
	width:100%;
}
#rowrank .brandBox label{
	height:75px;
	line-height:75px;
	overflow:hidden;
	display:inline-block;
}
#rowrank .brandBox label input[type="checkbox"] {
 /* z-index: 10;
  font-size: 12px;
  height: 25px;
  width: 25px;
  line-height: 16px;
  margin:0 6px 0 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-color: #6283B2;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  border:none;*/
  display:none;
}
#rowrank .label_select .square {
  width:25px;
  height:25px;
  border:2px solid #00B6ED;
  margin-right:7px;
  float:left;
}
#rowrank .brandBox label input[type="checkbox"]::-ms-expand {
  display: none;
}
#rowrank .brandBox label input[type="checkbox"]:checked::-ms-expand {
  display: none;
}
#rowrank .brandBox label input[type="checkbox"]:checked{
  background-color: #37924A;
}
/*== Dropdown ==*/
.selectpicker {
	padding:10px;
}
/*== Autocomplete ==*/
ul.bs-autocomplete-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  z-index: 9999;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}
ul.bs-autocomplete-menu a {
  font-weight: normal;
  color: #333333;
  cursor: pointer
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-state-active,
.ui-state-focus {
  color: #23527c;
  background-color: #eeeeee;
}
.bs-autocomplete-feedback {
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  margin-top: .5em;
  margin-right: .5em;
}
.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #333;
  background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #333;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*== Multi question image zoom ==*/
.searchable-container .info-block {margin:10px 0;}
.searchable-container label.btn-default.active{ background-color:#fff;}
.searchable-container label.btn-default{width:100%; padding:0;}
.searchable-container label.btn-default:hover{background-color:#f4f4f4}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:100%}
.searchable-container .btn span.glyphicon{opacity: 0;}
.searchable-container span {
    -webkit-transition: padding-left .25s;
    transition: padding-left .25s;
}
.searchable-container .bizcontent img {
	margin-left:auto;
	margin-right:auto;
	display:block;
	max-width:100%;
	min-height:110px;
}
.searchable-container .bizcontent .title {
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
.searchable-container .btn.active span.glyphicon {
    opacity: 1;
	color:#0096AE;
	padding:8px;
	border-radius: 50%;
	display:inline !important;
}
.searchable-container .title {text-align: left}
.searchable-container h5 {color:#000 !important}
/*== Number slider ==*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#0096AE !important;
	border:0 !important;
}
.ui-slider-horizontal .ui-slider-handle {
	top:-8px !important;
}
.ui-slider .ui-slider-handle {
	height:27px !important;
	width:15px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.slider .ui-widget-content, .sliderPip .ui-widget-content {background: #CCCCCC !important}
.slider .ui-widget-header, .sliderPip .ui-widget-header {background: #0096AE !important}
.sliderInput {margin-top:-10px}
.sliderInput input {padding:5px 10px}

/*== Multiple number sliders ==*/
.multislider {margin-bottom:35px; padding-left:0 !important}
.multislider .col-sm-8, .multislider .col-sm-12 {padding-left:0 !important}
.sliderInput input#sliderResult {margin-left:15px;}
.multislider .sliderResponsive {width:100%; padding:0}
.multislider .sliderResponsive .sliderInput {margin-top:15px}
/*== Multiple number input ==*/
.sliderInputMulti {margin:10px 0}
.sliderInputMulti input {padding:5px}
.numberInputLabel {
	color:#ffffff;
	width:50%;
	float:left
}
/*== Calendar ==*/
#ui-datepicker-div .ui-widget-header, .calendar .ui-widget-header {
	background-color:#F2F2F2 !important;
	border-width:0 0 2px 0 !important;
	border-style: solid;
	border-color:#ccc;
	color:#666
}
#ui-datepicker-div .ui-widget-content, .calendar .ui-widget-header {color:#666 !important}
#ui-datepicker-div .ui-state-default, .calendar .ui-state-default {
	background:none !important;
	color:#666 !important;
}
#ui-datepicker-div a.ui-state-default:hover, .calendar a.ui-state-default:hover {color:#0096AE !important;}
.calendar .form-control {height:36px !important;}
/*inline calendar*/
.datepicker-inline {background-color:#ffffff}
.datepicker.datepicker-inline .datepicker.datepicker-inline {display:none !important;}
/*== Grid Matrix ==*/
.gridmatrix {color:#fff}
.gridmatrix .title{
	clear:both;
	padding-top:1px;
}
.gridmatrix .title h3 {
	width:100%;
	clear:both;
}
.matrixOption {
	padding:10px !important;
	margin:5px;
	background-color:#F2F2F2;
	text-align: center;
}
.matrixOption a {color: #000; display:block}
.matrixOption a:hover {text-decoration: none; color:#EB6728}
.matrixOption.active {background-color:#EB6728}
.matrixOption.active a {color:#fff; text-decoration: none}
.is-disabled {
	opacity: .5;
	pointer-events: none;
}
.innerStack {position: absolute; background-color:#000000; padding:0 15px 25px 15px;}
.gridtablet {width:50%}
.gridmobile {width:25%}
.innerStack .col-md-12 {margin-left:0 !important}
/*== Radio Slider ==*/
.radioslider, .radioslider .slider {margin:30px -30px 95px -30px}
.ui-slider-pips .ui-slider-pip-inrange, .ui-slider-pips .ui-slider-pip {color:#fff !important}
.ui-slider-label {font-size:14px}
.ui-slider-label:hover {color:#fff !important}
.ui-slider-pips [class*=ui-slider-pip-initial] {font-weight: normal !important}
.ui-slider-pips .ui-slider-pip-label .ui-slider-label {margin-left:-15px}
/*== Star rating ==*/
.starRatingContainer {clear:left; margin-top:40px}
.br-theme-fontawesome-stars .br-widget {margin-top:-6px}
.stars h3 {margin:0}
/*== Drag and Drop ==*/
ol.dragImage {white-space: nowrap}
ol.dragImage li {display: inline-block}
[data-draggable="target"]
{
	list-style-type:none;
	padding:1em;
	border:2px solid #888;
	border-radius:0.2em;
	background:#ddd;
	color:#555;
	overflow-x: scroll;
	height:155px;
}
/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
	border-color:#68b;
	background:#fff;
}
/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
	outline:none;
	box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}
/* draggable items */
[data-draggable="item"]
{
	display:block;
	list-style-type:none;
	margin:0 0 2px 0;
	padding:0.2em 0.4em;
	line-height:1.3;
}
.dragImage li {
	width:150px;
	height:90px;
}
.dragImage span {
	color:#000000;
	position: absolute;
	margin-top:95px;
}
.egyptDrag {
	background-image:url(../images/egypt.jpg); 
	background-size:cover;
}
.franceDrag {
	background-image:url(../images/Eiffel.jpg); 
	background-size:cover;
}
.indiaDrag {
	background-image:url(../images/India.jpg); 
	background-size:cover;
}
.usDrag {
	background-image:url(../images/iwo.jpg); 
	background-size:cover;
}
.ausDrag {
	background-image:url(../images/opera.jpg); 
	background-size:cover;
}
.italyDrag {
	background-image:url(../images/rome.jpg); 
	background-size:cover;
}
.russiaDrag {
	background-image:url(../images/rus.jpg); 
	background-size:cover;
}
.nethDrag {
	background-image:url(../images/netherlands.jpg); 
	background-size:cover;
}
/* items focus state */
[data-draggable="item"]:focus
{
	outline:none;
	box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}
/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
	border:2px solid #8ad;
	color:#fff;
}
/*Dragbox*/
div.dragBoxTitle {
	float:left;
	color:#ffffff;
	width:1px;
}
.dragBox {
	min-height:50px;
	margin:30px 13px
}
.dragBox li:first-of-type {
	margin-top:0;
}
.dragBox li {
	height:70px;
	margin-top:30px;
}
.dragBox span {	
	position: absolute;
	margin-top:73px;
}
/*== Video ==*/
.video-js {width:100%}
/*== Footer ==*/
footer[role="footer"] {
	background-color: #111111;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 5
}
footer[role="footer"] p {
	color: #FFF;
	font-size: 14px;
	line-height: 50px;
	padding: 0;
	margin: 0;
	float: left
}
footer[role="footer"] p + p {
	text-align: right;
	float: right
}
footer[role="footer"] p i {
	padding: 0 4px;
	color: #EF3340
}
footer[role="footer"] p a {
	padding: 0 4px;
	color: #EF3340
}
/*== Elements ==*/
.selected-check:before {
	content: "\2713";
	color:#3eb1cc;
	font-weight: bold;
	font-size:22px;
}
/*==  code for animated blinking cursor ==*/
.typed-cursor {
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
 @-keyframes blink {
 0% {
opacity:1;
}
 50% {
opacity:0;
}
 100% {
opacity:1;
}
}
 @-webkit-keyframes blink {
 0% {
opacity:1;
}
 50% {
opacity:0;
}
 100% {
opacity:1;
}
}
 @-moz-keyframes blink {
 0% {
opacity:1;
}
 50% {
opacity:0;
}
 100% {
opacity:1;
}
}
 @-ms-keyframes blink {
 0% {
opacity:1;
}
 50% {
opacity:0;
}
 100% {
opacity:1;
}
}
 @-o-keyframes blink {
 0% {
opacity:1;
}
 50% {
opacity:0;
}
 100% {
opacity:1;
}
}

/*Swipe Cards*/
.phone {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top:35px;
}
.photo .meta p {
	color:#000000;
}
.content {
	padding: 10px;
	padding-top: 0px;
}
div.photo {
	position:absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:265px;
	height:180px;
	background-size: 122%;
	border-radius: 8px 8px 0px 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-color:#fff;
}
span.meta {
	display: block;
	height:48px;
	background-color: #FFF;
	margin-top: 180px;
	border-radius: 0px 0px 8px 8px;
	font-size: 18px;
	box-sizing:border-box;
	padding: 12px;
}
span.meta span {
	float: right;
	color:#cfcfcf;
}
.users {
	display: block;
	width: 20px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/users.png);
	background-size: 20px;
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position: 5px;
}
.moments {
	display: block;
	width: 14px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/moments.png);
	background-size: 26px;
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: 5px;
}
.chat {
	display: block;
	width: 34px;
	height: 30px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/chat.png);
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 4px;
	background-position: 5px;
	float: right;
	margin-top: 0px;
}
.settings {
	display: block;
	width: 34px;
	height: 30px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/settings.png);
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 4px;
	background-position: 5px;
	float: left;
	margin-top: 0px;
}
.footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 245px;
	width: 100%;
	padding-left: 40px;
	padding-top: 6px;
}
.rate {
	width: 70px;
	height:70px;
	border-radius: 70px;
	background: #FFF;
	border: 5px solid #f0f0f0;
	float: left;
	box-shadow: 1px 1px 1px 0px #e9e9e9;
}
.rate:nth-child(1) {
	margin-left: 15px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/delete.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.rate:nth-child(2) {
	margin-left: 30px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/heart.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
@media (max-width:760px) {
	div.photo {margin-left:40px}
}
/*Popover*/
.modal-dialog {
	width: 100%;
	margin: 0;
	padding: 0;
}
.modal-header {padding:8px 15px 2px !important}
.modal-title {line-height: 0 !important}
.modal-content {
	height: auto;
	border-radius: 0;
}
.btn-popover {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	padding-top:9px !important;
	background-color:#0096AE !important;
	border:#0096AE !important;
	outline: none !important;
	font-size:11px !important;
}