.slide-menu {
  position: fixed;
  width: 175px;
  max-width: 100%;
  height: 100vh;
  top: 0;
  right: auto !important;
  left: 0 !important;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  background: #333;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  will-change: transform;
  z-index: 1000;
}
.slide-menu .slider {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  transition: transform 300ms ease-in-out;
  transform: translateX(0);
  will-change: transform;
}
.slide-menu ul {
  padding-left: 0;
  list-style: none;
  position: relative;
  width: 320px;
  max-width: 100%;
  margin: 0;
}
.slide-menu ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}
.slide-menu ul a {
  display: block;
  padding: 12px 1px;
  margin:0 15px;
  color: #c5c5c5;
  text-decoration: none;
  border-top:1px solid #545450;
}
.slide-menu ul li a:hover {color: #ffffff}
.slide-menu ul li a.highlight {color:#dcb450}
.slider li {display:initial !important}
.slider ul.active {display: inline !important}
.slide-menu.no-transition, .slide-menu.no-transition * {transition: none !important;}
.btn.slide-menu-control {visibility:hidden;}

/*Menu animation*/
@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

